body {
  background-color: #F2DC9B;
  max-width: 45em;
}

h1 {
  text-align: left;
  font-family: arial;
  font-size: 3em;
  color: #486B73;
}

#headphoto {
  margin-top: -2em;
  margin-bottom: -.5em;
}

div {
  text-align: center;
}

p, #repo {
  text-align: left;
  font-family: helvetica;
  color: #591202;
}

.albumcover {
  text-align: center;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  h1 {
    font-size: 16px;
    max-width: 100%;
  }
  div {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  body {
    font-size: 12px;
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  h1 {
    max-width: 100%;
  }
  div {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  body {
    font-size: 12px;
    max-width: 100%;
  }
  img {
    max-width: 100%;
  }
}
